/* Contoh penggunaan Flex Wrap */
.container {
    display: flex;
    flex-wrap: nowrap;
    /* flex-wrap: wrap */
    /* flex-wrap: wrap-reverse; */
}

.item-box {
    width: 200px;
    height: 100px;
    margin-bottom: 8px;
}

.item-box:nth-child(odd) {
    background-color: pink;
}

.item-box:nth-child(even) {
    background-color: greenyellow;
}

/*
//Contoh penggunaan Flex Direction
.container {
    display: flex;
    flex-direction: row; 
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;

}
*/